{{> head}}

    {{> navbar}}
    <div class="jumbotron">
        <div class="container">
            <h1>Hola {{capitalizar nombre}}</h1>
            <p>Este texto es un párrafo</p>
            <p><a class="btn btn-primary btn-lg">Leer más</a></p>
        </div>
    </div>
{{> footer}}