{{> head}}
{{> navbar}}
<div class="row">
   <div class="col-6">
      <h1>hector y isabel</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, sint nam? Totam illum natus ex doloremque, sunt eum culpa suscipit recusandae quae possimus, esse molestias ipsam nisi tempora, porro tempore.</p>
   </div>
   <div class="col-6">
      <img src="assets/img/hector1.jpg" class="img-thumbnail">    
   </div>
</div>

{{> footer}}